{% block stylesheets %}
<link rel="stylesheet" href="{{asset('styles/login.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Login in!</h3>

                            <!-- Sign In Form -->
                            <form method="post">
                                {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')
                                    }}</div>
                                {% endif %}

                                {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                                </div>
                                {% endif %}
                                <div class="form-floating mb-3">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                        class="form-control" autocomplete="email" required autofocus>
                                    <label for="inputEmail">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" name="password" id="inputPassword" class="form-control"
                                        autocomplete="current-password" required>
                                    <label for="inputPassword">Password</label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                        type="submit">Sign in</button>
                                    <div class="text-center">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}