{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="d-flex collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                       href="{{path('app_login')}}">Log in</a>
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                       href="{{path('main')}}">Retour</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <h1>Créer une sortie !</h1>
    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button type="submit" class="btn btn-successe"> <i class="fa fa-plus"></i></button>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}