{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

<div class="page-content">
    {% include 'sortie/_filter.html.twig' with {form: form} only %}

    <h3>Résultat</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de Début</th>
                <th>Date limite d'inscription</th>
                <th>Nombre de participants</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.name }}</td>
                <td>{{ sortie.dateHourStart ? sortie.dateHourStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateLimitSubscritption ? sortie.dateLimitSubscritption|date('Y-m-d H:i:s') : '' }}</td>
                <td> {{ sortie.getUser()|length}} / {{ sortie.nbSubMax }}</td>
                <td>{{ sortie.status.type }}</td>
                <td><a href="{{ path('profil_participant', {'id': sortie.organisator.id}) }}">{{ sortie.organisator.pseudo }}</a></td>
                <td>
                    {#,{'sortieId': sortie.id}#}
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}"> <button class="tbl-btn">Afficher</button> </a>
                    {% if app.user == sortie.organisator and sortie.status.type == 'Créée' %}
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"><button class="tbl-btn">Modifier</button> </a>
                    {% endif %}
                    {% if app.user == sortie.organisator and sortie.status.type == 'Ouverte' %}
                    <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}"><button class="tbl-btn">Annuler</button>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}