<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}

    {% block favicon %}
    <link rel="icon" type="image/png" href="{{asset('assets/logo.png')}}">
    </link>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/base.css')}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

</head>

<body>

    {% block navbar %}
    {% if app.user %}
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{path('main')}}"><img src="{{asset('assets/logo.png')}}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link {{ app.request.get('_route') == 'main' ? 'active' }}" aria-current="page"
                        href="{{path('main')}}">Accueil</a>
                    <a class="nav-link {{ app.request.get('_route') == 'profil' ? 'active' }}"
                        href="{{path('profil',{id:app.user.id})}}">Mon Profil</a>
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                        href="{{path('sortieAdd', {id:app.user.id})}}">Créer Sortie</a>
                    {% if app.user.roles['User'] == 'ROLE_ADMIN' %}
                    <a class="nav-link {{ app.request.get('_route') == 'profil' ? 'active' }}"
                        href="{{path('userAdd', {id:app.user.id})}}">Créer un utilisateur</a>

                    <a class="nav-link {{ app.request.get('_route') == 'profil' ? 'active' }}"
                       href="{{path('user_index')}}">Liste des utilisateurs</a>
                    <a class="nav-link {{ app.request.get('_route') == 'city' ? 'active' }}"
                       href="{{path('city_index')}}">Gérer les villes</a>
                    <a class="nav-link {{ app.request.get('_route') == 'site' ? 'active' }}"
                       href="{{path('site_index')}}">Gérer les sites</a>
                    {% endif %}
                    <a class="nav-link {{ app.request.get('_route') == 'profil' ? 'active' }}"
                        href="{{path('app_logout')}}">Log out</a>
                </div>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="d-flex collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                        href="{{path('app_login')}}">Log in</a>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    {% endblock %}
    {% block body %}
    {% endblock %}

    {% for message in app.flashes('success') %}

    <div id="toast" class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% block footer %}
    <footer>
        <div class='footer-basic'>
            <p class="copyright">©Sortie {{ "now"|date("Y") }}</p>
        </div>
    </footer>
    {% endblock %}
</body>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}

</html>