<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>

    {% block navbar %}
    {% if app.user %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="d-flex collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link {{ app.request.get('_route') == 'wish-list' ? 'active' }}"
                        href="{{path('app_logout')}}">log out</a>
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                       href="{{path('sortieAdd', {id:app.user.id})}}">Créer Sortie</a>
                </div>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="d-flex collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                        href="{{path('app_login')}}">Log in</a>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>

</html>