{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="edit-profil">
        <h1>Listes des Utilisateurs</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Profil</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if app.user.id != user.id %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td><a href="{{path('admin_profil',{id:user.id})}}">Voir</a></td>
                    <td><a href="{{ path('user_desactivate', {'id': user.id}) }}"><button class="tbl-btn">{% if user.activ == true %}Désactiver{% else %}Activer{% endif %}</button>
                        </a>
                        <a href="{{ path('user_delete', {'id': user.id}) }}"><button class="tbl-btn">Supprimer</button>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}